<!-- @include includes/top.html -->

<div id="primary">
	
	<h3><span rel="tooltip" title="Geekery" data-kaomoji="⊂( ꒪̔⌔̫꒪̕ )⊃" data-kaomoji-hover="ミ( ๏ᴗ‵๏ )彡"><span>Geekery</span></span></h3>
	<div>
		
		<ul>
			<li><a href="http://github.com/mhulse" target="_blank" rel="nofollow">@mhulse</a></li>
			<li><a href="http://github.com/registerguard" target="_blank" rel="nofollow">registerguard</a></li>
			<li><a href="http://github.com/registerguard" target="_blank" rel="nofollow">rgpages</a></li>
			<li><a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a></li>
		</ul>
		
	</div>
	
	<h3><span rel="tooltip" title="Social" data-kaomoji="╭( ✖_✖ )╮" data-kaomoji-hover="ヽ( ⊙_◎ )ノ"><span>Social</span></span></h3>
	<div>
		
		<ul>
			<li><a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">StackExchange</a></li>
			<li><a href="https://groups.google.com/forum/#!forum/dti-lightning" target="_blank" rel="nofollow">DTI Lightning-dev</a></li>
			<!--<li><a href="#">Thequickbrownfox hxy jumpsoverthelazydog hxy</a></li>-->
		</ul>
		
	</div>
	
	<h3><span rel="tooltip" title="Bookmarks" data-kaomoji="( ˇ෴ˇ )" data-kaomoji-hover="( ˇ෴ˇ )"><span>Bookmarks</span></span></h3>
	<div>
		
		<ul>
			<li><a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
			<li><a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">GitHub Stars</a></li>
		</ul>
		
	</div>
	
	<h3><span rel="tooltip" title="Work" data-kaomoji="(ಠ .̫.̫ ಠ)" data-kaomoji-hover="(Φ .̫.̫ Φ)"><span>Work</span></span></h3>
	<div>
		
		<div id="secondary">
			
			<h3 class="sh5"><a href="ajax1.html">Section 1</a></h3>
			<h3 class="sh5"><a href="ajax2.html">San Francisco vacation</a></h3>
			
		</div> <!-- /#secondary -->
		
	</div>
	
</div> <!-- /#primary -->

<!-- @include includes/bottom.html -->
