<!-- @include includes/top.html -->

<h1></h1>

<div id="primary">
	
	<h3 id="boring"><span>#$@&%*!</span></h3>
	
	<div class="ui-accordion-content">
		
		<div id="secondary">
			
			<h3 id="foo" data-href="ajax/1.html"><span><span>Thequickbrownfox hxy jumpsoverthelazydog hxy jumps over the lazy dog hxy</span></span></h3>
			<h3 id="bar" data-href="ajax/2.html"><span><span>San Francisco vacation</span></span></h3>
			
		</div> <!-- /#secondary -->
		
	</div>
	
</div> <!-- /#primary -->

<!-- @include includes/bottom.html -->
