<!-- @include includes/top.html -->

<header role="banner">
	
	<nav role="navigation">
		
		<ul class="harmonia">
			
			<li>
				<span>Code</span>
				<ul>
					<li><a href="http://github.com/mhulse" target="_blank" rel="nofollow">@mhulse</a></li>
					<li><a href="http://github.com/registerguard" target="_blank" rel="nofollow">@registerguard</a></li>
					<li><a href="http://github.com/registerguard" target="_blank" rel="nofollow">@rgpages</a></li>
					<li><a href="https://gist.github.com/mhulse" target="_blank" rel="nofollow">Gists</a></li>
				</ul>
			</li>
			
			<li>
				<span>Geekery</span>
				<ul>
					<li><a href="http://stackexchange.com/users/560173/mhulse" target="_blank" rel="nofollow">Stack</a></li>
					<li><a href="https://groups.google.com/forum/#!forum/dti-lightning" target="_blank" rel="nofollow">Lightning-dev</a></li>
				</ul>
			</li>
			
			<li>
				<span>Bookmarks</span>
				<ul>
					<li><a href="https://pinboard.in/u:mhulse" target="_blank" rel="nofollow">Pinboard</a></li>
					<li><a href="https://github.com/stars/mhulse" target="_blank" rel="nofollow">Stars</a></li>
					<li><a href="http://stackexchange.com/users/560173/mhulse?tab=favorites" target="_blank" rel="nofollow">Favorites</a></li>
				</ul>
			</li>
			
		</ul> <!-- /.harmonia -->
		
	</nav>
	
</header>

<main role="main">
	
	<section>
		
		<h1></h1>
		
		<div id="primary">
			
			<h3 id="boring"><span>#$@&%*!</span></h3>
			
			<div class="ui-accordion-content">
				
				<div id="secondary">
					
					<h3 id="foo" data-href="ajax/1.html"><span><span>Thequickbrownfox hxy jumpsoverthelazydog hxy jumps over the lazy dog hxy</span></span></h3>
					<h3 id="bar" data-href="ajax/2.html"><span><span>San Francisco vacation</span></span></h3>
					
				</div> <!-- /#secondary -->
				
			</div>
			
		</div> <!-- /#primary -->
		
	</section>
	
</main>

<!-- @include includes/bottom.html -->
