<!-- @include includes/top.html -->

<!-- @if NODE_ENV == 'DEVELOPMENT' -->

<section>
	
	<h1 id="colors" class="marker"><a href="#colors">Colors</a></h1>
	
	<div class="swatches">
		<div title="Primary" class="swatches-swatch primary"><code>$primary</code> <code>#f06</code></div>
		<div title="Secondary" class="swatches-swatch secondary"><code>$secondary</code> <code>#aee239</code></div>
		<div title="Tertiary" class="swatches-swatch tertiary"><code>$tertiary</code> <code>#ff0</code></div>
		<div title="Quaternary" class="swatches-swatch quaternary"><code>$quaternary</code> <code>#07e7f7</code></div>
	</div>
	
</section>

<hr>

<!-- @endif -->

<section>
	
	<h1 id="h1-h6" class="marker"><a href="#h1-h6">h1 - h6</a></h1>
	
	<article>
		
		<h1>Thequickbrownfox hxy jumpsoverthelazydog hxy</h1>
		<h1><a href="#">Thequickbrownfox hxy jumpsoverthelazydog hxy &amp; link</a></h1>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2>The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h3>The quick brown fox hxy jumps over the lazy dog hxy</h3>
		<h3><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h3>
		
	</article>
	
	<hr>
	
	<article>
		
		<h4>The quick brown fox hxy jumps over the lazy dog hxy</h4>
		<h4><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h4>
		
	</article>
	
	<hr>
	
	<article>
		
		<h5>The quick brown fox hxy jumps over the lazy dog hxy</h5>
		<h5><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h5>
		
	</article>
	
	<hr>
	
	<article>
		
		<h6>The quick brown fox hxy jumps over the lazy dog hxy</h6>
		<h6><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h6>
		
	</article>
	
</section>

<hr>

<section>
	
	<h1 id="sh1-sh6" class="marker"><a href="#sh1-sh6">.sh1 - .sh6</a></h1>
	
	<article>
		
		<h2 class="sh1">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh1"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
	<hr>
	
	<article>
		
		<h2 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h2>
		<h2 class="sh6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h2>
		
	</article>
	
</section>

<hr>

<section>
	
	<h1 id="h1-h6-sh1-sh6-p" class="marker"><a href="#h1-h6-sh1-sh6-p">h1 - h6 + .sh1 - .sh6 + p</a></h1>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h1"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh1">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<header>
			
			<hgroup>
				<h1 class="h6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy &amp; link</a></h1>
				<h2 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h2>
			</hgroup>
			
		</header>
		
		<p class="excerpt">Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
		
	</article>
	
</section>

<hr>

<section>
	
	<h1 id="address" class="marker"><a href="#address">address</a></h1>
	
	<address>
		<a href="#">Jane Poe</a>,
		<a href="#">Robert Roe</a>,
		<a href="#">Mark Moe</a>,
		<a href="#">Brett Boe</a>,
		<a href="#">Carla Coe</a>,
		<a href="#">Donna Doe</a>,
		<a href="#">Juan Doe</a>,
		<a href="#">Frank Foe</a>,
		<a href="#">Grace Goe</a>,
		<a href="#">Harry Hoe</a>,
		<a href="#">Jackie Joe</a>,
		<a href="#">Karren Koe</a>,
		<a href="#">Larry Loe</a>,
		<a href="#">Marta Moe</a>,
		<a href="#">Norma Noe</a>,
		<a href="#">Paula Poe</a>,
		<a href="#">Quintin Qoe</a>,
		<a href="#">Ralph Roe</a>,
		<a href="#">Sammy Soe</a>,
		<a href="#">Tommy Toe</a>,
		<a href="#">Vince Voe</a>,
		<a href="#">William Woe</a>,
		<a href="#">Xerxes Xoe</a>,
		<a href="#">Yvonne Yoe</a>,
		<a href="#">Zachary Zoe</a>
		and <a href="#">John Smith</a>.
	</address>
	
</section>

<hr>

<section>
	
	<h1 id="blockquote" class="marker"><a href="#blockquote">blockquote</a></h1>
	
	<blockquote>
		
		Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
		
	</blockquote>
	
	<blockquote>
		
		<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
		
	</blockquote>
	
	<blockquote>
		
		<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
		
		<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
		
		<footer>&mdash; Li Europan lingues</footer>
		
	</blockquote>
	
	<blockquote>
		
		<p>The European languages are members of the same family.</p>
		
		<footer>
			
			<p>&mdash; <cite><a href="#">Li Europan lingues</a></cite>, English</p>
			
		</footer>
		
	</blockquote>
	
</section>

<hr>

<section>
	
	<h1 id="dl-dt-dd" class="marker"><a href="#dl-dt-dd">dl + dt + dd</a></h1>
	
	<dl>
		<dt><a href="#">Li Europan lingues es membres del sam familie.</a></dt>
			<dd>Lor separat existentie es un myth.</dd>
			<dd>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</dd>
			<dd>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</dd>
		<dt>
			At solmen va esser necessi
			<br>
			far uniform grammatica.
		</dt>
			<dd>Li nov lingua franca va esser plu simplic.</dd>
			<dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</dd>
			<dd>Omnicos directe al desirabilite.</dd>
		<dt>Li Europan lingues es membres del sam familie.</dt>
			<dd>Omnicos directe al desirabilite de un nov lingua franca.</dd>
			<dd>On refusa continuar payar custosi traductores.</dd>
			<dd>Ma quande lingues coalesce, li <code>grammatica</code> del resultant lingue es plu simplic e regulari <code>quam ti del</code> coalescent lingues.</dd>
	</dl>
	
</section>

<hr>

<section>
	
	<h1 id="figure" class="marker"><a href="#figure">figure</a></h1>
	
	<figure>
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<div class="scroll"><img src="./images/img1.png" width="1000" alt="Jean-Luc Picard"></div>
		
		<!-- @endif -->
		
		<figcaption><div>Omnicos directe al desirabilite de un nov lingua.</div></figcaption>
		
	</figure>
	
	<figure>
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<div class="scroll"><a class="nix" href="#"><img src="./images/img2.png" width="1200" alt="Jean-Luc Picard"></a></div>
		
		<!-- @endif -->
		
		<figcaption><div><b>Omnicos directe al desirabilite de un nov lingua franca:</b> On refusa continuar payar custosi traductores.</div></figcaption>
		
	</figure>
	
	<figure>
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<a class="nix" href="#"><img src="./images/img3.png" alt="Jean-Luc Picard"></a>
		
		<!-- @endif -->
		
		<figcaption>
			
			<div>
				
				<p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
				
				<p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
				
				<p>Li nov <a href="#">lingua franca</a> va esser plu simplic e regulari quam li existent <a href="#">Europan lingues</a>. It va esser tam simplic quam Occidental in fact, it va esser <a href="#">Occidental</a>.</p>
				
			</div>
			
		</figcaption>
		
	</figure>
	
</section>

<hr>

<section>
	
	<h1 id="p" class="marker"><a href="#p">p</a></h1>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
		
		<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
		
		<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
		
		<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
		
		<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
		
		<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
		
		<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
		
	</article>
	
	<hr>
	
	<article itemscope itemtype="http://schema.org/Article">
		
		<div itemprop="articleBody">
			
			<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
			
			<hr>
			
			<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
			
			<h1>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h1>
			
			<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
			
			<h2>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h2>
			
			<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
			
			<h3>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h3>
			
			<p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
			
			<h4>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h4>
			
			<p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie. Lor separat existentie es un myth.</p>
			
			<h5>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h5>
			
			<p>Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
			
			<h6>The quick brown fox hxy <a href="#">jumps over the lazy dog hxy</a></h6>
			
			<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
			
			<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
			
			<div class="hr"></div>
			
			<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
			
		</div>
		
	</article>
	
</section>

<hr>

<section>
	
	<h1 id="pre" class="marker"><a href="#pre">pre</a></h1>

<pre class="pre">
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

<pre class="pre terminal">
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

<pre class="pre terminal">
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 
</pre>

<pre class="pre terminal">
0.5138707 0.1757256 0.3086337 0.5345317 0.9476302 0.1717277 0.7022309 0.2264168 0.4947661 0.1246986
0.0838954 0.3896298 0.2772301 0.3680532 0.9834590 0.5353862 0.7656789 0.6464736 0.7671438 0.7802362
0.8229621 0.1519211 0.6254769 0.3146764 0.3469039 0.9172033 0.5197607 0.4011658 0.6067690 0.7854244
</pre>

<pre class="pre terminal">
<code>var</code> li = europan.lingues({
	lingua  : ['desirabilite', 'necessi'],
	payar   : 'grammatica',
	simplic : function() { directe.refusa('Li Europan lingues es membres del sam familie.'); },
	esser   : 'On refusa continuar payar custosi traductores.'
});
</pre>

<div class="pygments x6"><table class="pygtable"><tr><td class="linenos"><div class="linenodiv"><pre> 1
 2
 3
 4
 5
 6
 7
 8
 9
10</pre></div></td><td><div class="pyg"><pre><span class="nc">.off</span> <span class="p">{</span>
<span class="k">    border</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
<span class="k">    clip</span><span class="o">:</span> <span class="n">rect</span><span class="p">(</span><span class="m">0</span> <span class="m">0</span> <span class="m">0</span> <span class="m">0</span><span class="p">);</span>
<span class="hll">    <span class="k">height</span><span class="o">:</span> <span class="m">1px</span><span class="p">;</span>
</span><span class="hll">    <span class="k">margin</span><span class="o">:</span> <span class="m">-1px</span><span class="p">;</span>
</span><span class="hll">    <span class="k">overflow</span><span class="o">:</span> <span class="k">hidden</span><span class="p">;</span>
</span><span class="hll">    <span class="k">padding</span><span class="o">:</span> <span class="m">0</span><span class="p">;</span>
</span><span class="hll">    <span class="k">position</span><span class="o">:</span> <span class="k">absolute</span><span class="p">;</span>
</span>    <span class="k">width</span><span class="o">:</span> <span class="m">1px</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>
</td></tr></table></div>

	
	<div class="x6"><script src="https://gist.github.com/mhulse/6003668.js?file=.bashrc"></script></div>
	
</section>

<hr>

<section>
	
	<h1 id="ol" class="marker"><a href="#ol">ol</a></h1>
	
	<ol class="li1">
		<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
		<li>Lor separat existentie es un myth.</li>
		<li>Li Europan lingues es membres del sam familie.</li>
		<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
		<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
		<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
		<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
		<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
		<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
		<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
		<li>On refusa continuar payar custosi traductores.</li>
		<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
	</ol>
	
	<hr>
	
	<ol class="li1">
		<li>Li Europan lingues es membres del sam familie.</li>
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<li><img width="250" src="./images/img4.png"></li>
		
		<!-- @endif -->
		
		<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
	</ol>
	
</section>

<hr>

<section>
	
	<h1 id="ul" class="marker"><a href="#ul">ul</a></h1>
	
	<ul class="li2">
		<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
		<li>Lor separat existentie es un myth.</li>
		<li>Li Europan lingues es membres del sam familie.</li>
		<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
		<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
		<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
		<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
		<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
		<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
		<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
		<li>On refusa continuar payar custosi traductores.</li>
		<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
	</ul>
	
	<hr>
	
	<ul class="li2">
		<li>Lor separat existentie es un myth.</li>
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<li>Li Europan <img width="150" src="./images/img5.png"> lingues es membres del sam familie. Lor separat existentie es un myth.</li>
		
		<!-- @endif -->
		
		<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
	</ul>
	
</section>

<hr>

<section>
	
	<h1 id="a" class="marker"><a href="#a">a</a></h1>
	
	<p><a href="#">At solmen va esser necessi far uniform grammatica</a>, pronunciation e <a href="#">plu sommun paroles</a>.</p>
	
	<p>Li Europan <a href="#">lingues es membres</a> del sam familie.</p>
	
</section>

<hr>

<section>
	
	<h1 id="abbr" class="marker"><a href="#abbr">abbr</a></h1>
	
	<p>A un Angleso it va <abbr title="Semblar">semblar</abbr> un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
	
</section>

<hr>

<section>
	
	<h1 id="bdi" class="marker"><a href="#bdi">bdi</a></h1>
	
	<p><bdi>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdi></p>
	
</section>

<hr>

<section>
	
	<h1 id="bdo" class="marker"><a href="#bdo">bdo</a></h1>
	
	<p><bdo dir="rtl">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdo></p>
	
</section>

<hr>

<section>
	
	<h1 id="cite" class="marker"><a href="#cite">cite</a></h1>
	
	<p>Li lingues differe solmen in li grammatica, <cite><a href="#">li pronunciation</a></cite> e li plu commun vocabules.</p>
	
	<p>My favourite movie is <cite>Rustlers' Rhapsody</cite> by Hugh Wilson.</p>
	
</section>

<hr>

<section>
	
	<h1 id="code" class="marker"><a href="#code">code</a></h1>
	
	<p>Omnicos <code>directe al desirabilite</code> de un nov <code>lingua franca</code>: On refusa <code>continuar payar custosi</code> traductores.</p>
	
</section>

<hr>

<section>
	
	<h1 id="data" class="marker"><a href="#data">data</a></h1>
	
	<ul>
		<li><data value="1234567890"><a href="#">Li Europan lingues.</a></data></li>
		<li><data value="1234567890"><a href="#">Lor separat existentie es un myth.</a></data></li>
		<li><data value="1234567890"><a href="#">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</a></data></li>
	</ul>
	
</section>

<hr>

<section>
	
	<h1 id="dfn" class="marker"><a href="#dfn">dfn</a></h1>
	
	<p>Li <dfn id="european"><abbr title="European">Europan</abbr></dfn> lingues es membres del sam familie. Lor separat existentie es un myth.</p>
	
	<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
	
	<p>Li nov lingua franca va esser plu simplic e regulari quam li existent <a href="#european"><abbr title="European">Europan</abbr></a> lingues.</p>
	
</section>

<hr>

<section>
	
	<h1 id="em-i" class="marker"><a href="#em-i">em + i</a></h1>
	
	<p><em>Ma</em> <i>quande</i> <em>lingues</em> <i>coalesce</i>, <em>li</em> <i>grammatica</i> <em>del</em> <i>resultant</i> <em>lingue</em> <i>es</i> <em>plu</em> <i>simplic</i> <em>e</em> <i>regulari</i> <em>quam</em> <i>ti</i> <em>del</em> <i>coalescent</i> <em>lingues</em>. <i>Li</i> <em>nov</em> <i>lingua</i> <em>franca</em> <i>va</i> <em>esser</em> <i>plu</i> <em>simplic</em> <i>e</i> <em>regulari</em> <i>quam</i> <em>li</em> <i>existent</i> <em>Europan</em> <i>lingues</i>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="kbd" class="marker"><a href="#kbd">kbd</a></h1>
	
	<p>
		<kbd>`</kbd><wbr><kbd>1</kbd><wbr><kbd>2</kbd><wbr><kbd>3</kbd><wbr><kbd>4</kbd><wbr><kbd>5</kbd><wbr><kbd>6</kbd><wbr><kbd>7</kbd><wbr><kbd>8</kbd><wbr><kbd>9</kbd><wbr><kbd>0</kbd><wbr><kbd>-</kbd><wbr><kbd>=</kbd><wbr><kbd>Bkspc</kbd>
		<br>
		<kbd>Tab</kbd><wbr><kbd>q</kbd><wbr><kbd>w</kbd><wbr><kbd>e</kbd><wbr><kbd>r</kbd><wbr><kbd>t</kbd><wbr><kbd>y</kbd><wbr><kbd>u</kbd><wbr><kbd>i</kbd><wbr><kbd>o</kbd><wbr><kbd>p</kbd><wbr><kbd>[</kbd><wbr><kbd>]</kbd><wbr><kbd>\</kbd>
		<br>
		<kbd>Caps</kbd><wbr><kbd>a</kbd><wbr><kbd>s</kbd><wbr><kbd>d</kbd><wbr><kbd>f</kbd><wbr><kbd>g</kbd><wbr><kbd>h</kbd><wbr><kbd>j</kbd><wbr><kbd>k</kbd><wbr><kbd>l</kbd><wbr><kbd>;</kbd><wbr><kbd>'</kbd><wbr><kbd>Enter</kbd>
		<br>
		<kbd>Shift</kbd><wbr><kbd>z</kbd><wbr><kbd>x</kbd><wbr><kbd>c</kbd><wbr><kbd>v</kbd><wbr><kbd>b</kbd><wbr><kbd>n</kbd><wbr><kbd>m</kbd><wbr><kbd>,</kbd><wbr><kbd>.</kbd><wbr><kbd>/</kbd><wbr><kbd>Shift</kbd>
	</p>
	
	<p>Li nov <kbd>CTRL</kbd>+<kbd>F5</kbd> lingua franca va esser plu simplic <kbd><kbd>Shift</kbd> + <kbd>F3</kbd></kbd> e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
	
	<p><kbd><kbd>A</kbd> + <kbd>B</kbd> + <kbd>C</kbd> + <kbd>D</kbd> + <kbd>E</kbd> + <kbd>F</kbd> + <kbd>G</kbd> + <kbd>H</kbd> + <kbd>I</kbd> + <kbd>J</kbd> + <kbd>K</kbd> + <kbd>L</kbd> + <kbd>M</kbd> + <kbd>N</kbd> + <kbd>O</kbd> + <kbd>P</kbd> + <kbd>Q</kbd> + <kbd>R</kbd> + <kbd>S</kbd> + <kbd>T</kbd> + <kbd>U</kbd> + <kbd>V</kbd> + <kbd>W</kbd> + <kbd>X</kbd> + <kbd>Y</kbd> and <kbd>Z</kbd>!</kbd></p>
	
</section>

<hr>

<section>
	
	<h1 id="mark" class="marker"><a href="#mark">mark</a></h1>
	
	<p>Li <mark>lingues</mark> differe <mark>solmen</mark> in <mark>li</mark> grammatica, <mark>li</mark> pronunciation <mark>e</mark> li <mark>plu</mark> commun <mark>vocabules</mark>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="q" class="marker"><a href="#q">q</a></h1>
	
	<p>Lor <q>separat</q> existentie <q>es</q> un <q>myth</q>.</p>
	
	<p>Omnicos directe al desirabilite de un nov lingua franca: <q>On refusa continuar payar custosi traductores.</q></p>
	
	<p><q>A <q>un <q>Angleso <q>it <q>va <q>semblar <q>un <q>simplificat <q>Angles, <q>quam <q>un <q>skeptic <q>Cambridge <q>amico <q>dit <q>me <q>que <q>Occidental <q>es. <q>Li <q>Europan <q>lingues <q>es <q>membres <q>del <q>sam <q>familie. <q>Lor <q>separat existentie</q> es</q> un</q> myth</q>. Por</q> scientie</q>, musica</q>, sport</q> etc</q>, litot</q> Europa</q> usa</q> li</q> sam</q> vocabular</q>. Li</q> lingues</q> differe</q> solmen</q> in</q> li</q> grammatica</q>, li</q> pronunciation</q> e</q> li</q> plu</q> commun</q> vocabules.</q></p>
	
</section>

<hr>

<section>
	
	<h1 id="ruby-rp-rt" class="marker"><a href="#ruby-rp-rt">ruby + rp + rt</a></h1>
	
	<p><ruby>攻殻<rp>（</rp><rt>こうかく</rt><rp>）</rp>機動隊<rp>（</rp><rt>きどうたい</rt><rp>）</rp></ruby></p>
	
	<p><ruby><ruby>攻<rp>（</rp><rt>こう</rt><rp>）</rp>殻<rp>（</rp><rt>かく</rt><rp>）</rp>機<rp>（</rp><rt>き</rt><rp>）</rp>動<rp>（</rp><rt>どう</rt><rp>）</rp>隊<rp>（</rp><rt>たい</rt><rp>）</rp></ruby><rp>（</rp><rt>Li Europan lingues</rt><rp>）</rp></ruby></p>
	
</section>

<hr>

<section>
	
	<h1 id="s" class="marker"><a href="#s">s</a></h1>
	
	<p><s>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</s></p>
	
	<p>At solmen va esser necessi far uniform grammatica, <s>pronunciation e plu sommun paroles</s>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="samp" class="marker"><a href="#samp">samp</a></h1>
	
	<p>Li <samp>Europan lingues</samp> es membres del sam familie. Lor <samp>separat existentie</samp> es un myth. Por scientie, musica, sport etc, <samp>litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
	
	<p><samp>Por scientie, musica, sport etc, litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="small" class="marker"><a href="#small">small</a></h1>
	
	<p><small> It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</small></p>
	
	<p><span class="small">At solmen va esser</span> necessi far uniform grammatica, <span class="small">pronunciation e plu sommun paroles</span>.</p>
	
	<p class="small">Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
	
</section>

<hr>

<section>
	
	<h1 id="strong-b" class="marker"><a href="#strong-b">strong + b</a></h1>
	
	<p><strong>At solmen va esser necessi</strong> far <b>uniform grammatica</b>, pronunciation e <strong>plu sommun paroles</strong>. Ma <b>quande lingues coalesce</b>, li grammatica del <strong>resultant lingue es plu simplic e regulari</strong> quam ti del <b>coalescent lingues</b>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="sub-sup" class="marker"><a href="#sub-sup">sub + sup</a></h1>
	
	<p>Omnico<sup>s</sup> direct<sub>e</sub> a<sup>l</sup> desirabilit<sub>e</sub> d<sup>e</sup> u<sub>n</sub> n<sup>o</sup>v l<sub>i</sub>ngua fr<sup>a</sup>nca: O<sub>n</sub> ref<sup>u</sup>sa contin<sub>u</sub>ar pa<sup>y</sup>ar c<sub>u</sub>stosi <sup>t</sup>raductores.</p>
	
</section>

<hr>

<section>
	
	<h1 id="time" class="marker"><a href="#time">time</a></h1>
	
	<p>At solmen va esser necessi far uniform grammatica, <time datetime="2013-09-30T10:00-10:30">pronunciation e plu sommun paroles</time>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="u" class="marker"><a href="#u">u</a></h1>
	
	<p>Omnicos <u>directe al desirabilite de un nov lingua</u> franca: On <u>refusa continuar payar</u> custosi traductores. At <u>solmen va esser necessi</u> far uniform grammatica, <u>pronunciation e plu sommun paroles</u>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="var" class="marker"><a href="#var">var</a></h1>
	
	<p><var>Omnicos</var> directe <var>al</var> desirabilite <var>de</var> un <var>nov</var> lingua <var>franca</var>: On <var>refusa</var> continuar <var>payar</var> custosi <var>traductores</var>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="wbr" class="marker"><a href="#wbr">wbr</a></h1>
	
	<p><code>LiEuropanlingues<wbr>esmembresdelsam<wbr>familie.</code></p>
	
</section>

<hr>

<section>
	
	<h1 id="del-ins" class="marker"><a href="#del-ins">del + ins</a></h1>
	
	<p><del>Omnicos</del> <ins>directe</ins> al <del>desirabilite</del> de un nov <ins>lingua</ins> franca: On <del datetime="2013-09-30T10:00-08:00">refusa</del> <ins datetime="2013-09-30T10:00-08:00">continuar</ins> payar custosi traductores. At solmen va esser necessi far <del>uniform grammatica</del><ins>, pronunciation e plu sommun paroles</ins>.</p>
	
</section>

<hr>

<section>
	
	<h1 id="table-children" class="marker"><a href="#table-children">table + children</a></h1>
	
	<div class="x6 scroll">
		<table class="table">
			<caption>
				Li Europan lingues es
				<br>
				membres del sam familie.
			</caption>
			<thead>
				<tr>
					<th scope="col">Europan</th>
					<th scope="col">Omnicos</th>
					<th scope="col">Occidental</th>
					<th scope="col">Cambridge</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">Lor separat existentie es un myth.</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th scope="row">Pronunciation e plu</th>
					<td>On refusa continuar payar</td>
					<td>Occidental in fact</td>
					<td>On refusa continuar payar</td>
				</tr>
				<tr>
					<th scope="row">Grammatica</th>
					<td>It va esser tam simplic</td>
					<td></td>
					<td>Lor separat existentie</td>
				</tr>
				<tr>
					<th scope="row">Simplic e regulari</th>
					<td>Omnicos directe al desirabilite</td>
					<td></td>
					<td>Custosi traductores</td>
				</tr>
				<tr>
					<th scope="row">Lor separat existentie</th>
					<td></td>
					<td></td>
					<td>Ma quande lingues coalesce</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr>
	
	<div class="x6 scroll">
		<table class="table table-border-x">
			<caption>Li Europan lingues es membres del sam familie.</caption>
			<thead>
				<tr>
					<th scope="col">Europan</th>
					<th scope="col">Omnicos</th>
					<th scope="col">Occidental</th>
					<th scope="col">Cambridge</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">Lor separat existentie es un myth.</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th scope="row">Pronunciation e plu</th>
					<td>On refusa continuar payar</td>
					<td>Occidental in fact</td>
					<td>On refusa continuar payar</td>
				</tr>
				<tr>
					<th scope="row">Grammatica</th>
					<td>It va esser tam simplic</td>
					<td></td>
					<td>Lor separat existentie</td>
				</tr>
				<tr>
					<th scope="row">Simplic e regulari</th>
					<td>Omnicos directe al desirabilite</td>
					<td></td>
					<td>Custosi traductores</td>
				</tr>
				<tr>
					<th scope="row">Lor separat existentie</th>
					<td></td>
					<td></td>
					<td>Ma quande lingues coalesce</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr>
	
	<div class="x6 scroll">
		<table class="table table-border-y">
			<caption>Li Europan lingues es membres del sam familie.</caption>
			<thead>
				<tr>
					<th scope="col">Europan</th>
					<th scope="col">Omnicos</th>
					<th scope="col">Occidental</th>
					<th scope="col">Cambridge</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">Lor separat existentie es un myth.</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th scope="row">Pronunciation e plu</th>
					<td>On refusa continuar payar</td>
					<td>Occidental in fact</td>
					<td>On refusa continuar payar</td>
				</tr>
				<tr>
					<th scope="row">Grammatica</th>
					<td>It va esser tam simplic</td>
					<td></td>
					<td>Lor separat existentie</td>
				</tr>
				<tr>
					<th scope="row">Simplic e regulari</th>
					<td>Omnicos directe al desirabilite</td>
					<td></td>
					<td>Custosi traductores</td>
				</tr>
				<tr>
					<th scope="row">Lor separat existentie</th>
					<td></td>
					<td></td>
					<td>Ma quande lingues coalesce</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<hr>
	
	<div class="x6 scroll">
		<table class="table table-border-x table-border-y">
			<caption>Li Europan lingues es membres del sam familie.</caption>
			<thead>
				<tr>
					<th scope="col">Europan</th>
					<th scope="col">Omnicos</th>
					<th scope="col">Occidental</th>
					<th scope="col">Cambridge</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">Lor separat existentie es un myth.</td>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th scope="row">Pronunciation e plu</th>
					<td>On refusa continuar payar</td>
					<td>Occidental in fact</td>
					<td>On refusa continuar payar</td>
				</tr>
				<tr>
					<th scope="row">Grammatica</th>
					<td>It va esser tam simplic</td>
					<td></td>
					<td>Lor separat existentie</td>
				</tr>
				<tr>
					<th scope="row">Simplic e regulari</th>
					<td>Omnicos directe al desirabilite</td>
					<td></td>
					<td>Custosi traductores</td>
				</tr>
				<tr>
					<th scope="row">Lor separat existentie</th>
					<td></td>
					<td></td>
					<td>Ma quande lingues coalesce</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</section>

<hr>

<section>
	
	<h1 id="form-children" class="marker"><a href="#form-children">form + children</a></h1>
	
	<form class="form" id="fm" name="fm" action="" method="post">
		
		<input type="hidden" name="fm_hidden" value="hidden">
		
		<fieldset>
			
			<legend></legend>
			
			<!--
			<label>Password: <input type="password" name="fm_password" placeholder="Enter password &hellip;"></label>
			
			<hr>
			-->
			
			<!--
			<label>File: <input type="file" name="fm_file" placeholder="Choose file &hellip;"></label>
			
			<hr>
			-->
			
			<label>Text: <input type="text" name="fm_text-1" placeholder="Text &hellip;"></label>
			
			<label>Text: <input type="text" name="fm_text-2" placeholder="Text &hellip;" disabled></label>
			
			<label>Text: <input type="text" name="fm_text-3" placeholder="Text &hellip;" value="Read only &hellip;" readonly></label>
			
			<hr>
			
			<label>
				Select:
				<select name="fm_select">
					<optgroup label="Group 1">
						<option value="Option 1.1">Option 1.1</option>
					</optgroup> 
					<optgroup label="Group 2">
						<option value="Option 2.1">Option 2.1</option>
						<option value="Option 2.2">Option 2.2</option>
					</optgroup>
					<optgroup label="Group 3" disabled>
						<option value="Option 3.1">Option 3.1</option>
						<option value="Option 3.2">Option 3.2</option>
						<option value="Option 3.3">Option 3.3</option>
					</optgroup>
				</select>
			</label>
			
			<hr>
			
			<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
			
			<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
			
			<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
			
			<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
			
			<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
			
			<hr>
			
			<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
			
			<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
			
			<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
			
			<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
			
			<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
			
			<hr>
			
			<label class="x5">Textarea: <textarea name="fm_textarea-1"></textarea></label>
			
			<label class="x5">Textarea: <textarea name="fm_textarea-2" disabled></textarea></label>
			
			<label class="x5">Textarea: <textarea name="fm_textarea-3" readonly>Read only &hellip;</textarea></label>
			
			<hr>
			
			<a class="button" href="#" onclick="return false;">Link</a>
			
			<a class="button button-disabled" href="#" onclick="return false;">Disabled</a>
			
			<hr>
			
			<button type="button" name="fm_button-1" onclick="return false;">Button</button>
			
			<hr>
			
			<button type="submit" name="fm_button-2" onclick="return false;">Reset</button>
			
		</fieldset>
		
	</form>
	
</section>

<hr>

<section>
	
	<h1 id="multimedia" class="marker"><a href="#multimedia">iframe</a></h1>
	
	<figure class="x6">
		
		<div class="mm"><iframe width="560" height="315" src="//www.youtube.com/embed/videoseries?list=PLrEnWoR732-AKYdZyzAnuf-MnPiw7rT4Q" frameborder="0" allowfullscreen></iframe></div>
		
	</figure>
	
	<figure class="x6">
		
		<div class="mm"><iframe width="500" height="281" src="http://player.vimeo.com/video/59777392" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
		
	</figure>
	
	<figure class="x6">
		
		<iframe width="100%" height="166" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/119828644&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
		
	</figure>
	
	<figure class="x6">
		
		<iframe width="100%" height="500" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3168.6392855357303!2d-122.084058!3d37.42199999999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6c296c66619367e0!2sGoogleplex!5e0!3m2!1sen!2sus!4v1404610929601" frameborder="0" style="border:0"></iframe>
		<figcaption>
			<div><p>The Googleplex is the corporate headquarters complex of Google, Inc., located at 1600 Amphitheatre Parkway in Mountain View, Santa Clara County, California, United States, near San Jose.</p></div>
		</figcaption>
		
	</figure>
	
	<p class="x4">
		<a
			class="twitter-timeline"
			href="https://twitter.com/twitter"
			data-widget-id="412449818275901440"
			data-screen-name="twitter"
			width="100%"
			height="650px"
		>
			Tweets by @twitter
		</a>
	</p>
	
</section>

<hr>

<section>
	
	<h1 id="object-param" class="marker"><a href="#object-param">object + param</a></h1>
	
	<figure>
		
		<object type="application/x-shockwave-flash" data="media/flash.swf" width="793" height="170">
			<param name="movie" value="media/flash.swf">
			<param name="allowscriptaccess" value="always">
			<param name="menu" value="false">
			<param name="quality" value="high">
			<param name="flashvars" value="">
			<param name="base" value="">
			<p><a href="http://www.adobe.com/go/getflash"><img src="http://wwwimages.adobe.com/www.adobe.com/content/dam/Adobe/en/legal/logo/160x41_get_flashplayer.gif" alt="Get Adobe Flash player"/></a></p>
		</object>
		
	</figure>
	
</section>

<hr>

<section>
	
	<h1 id="video" class="marker"><a href="#video">video</a></h1>
	
	<figure class="x6">
		
		<div class="mm">
			<video poster="./media/video.png" width="640" height="360" preload="none" controls>
				<source src="./media/video.webm" type="video/webm">
				<source src="./media/video.ogv" type="video/ogg">
				<source src="./media/video.mp4" type="video/mp4">
			</video>
		</div>
		
	</figure>
	
</section>

<hr>

<section>
	
	<h1 id="audio" class="marker"><a href="#audio">audio</a></h1>
	
	<figure class="x6">
		
		<audio preload="none" controls>
			<source src="./media/audio.ogg" type="audio/ogg">
			<source src="./media/audio.mp3" type="audio/mpeg">
		</audio>
		
	</figure>
	
</section>

<hr>

<section>
	
	<h1 id="callout" class="marker"><a href="#callout">Callout</a></h1>
	
	<p class="x4 callout" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<p class="x4 callout callout-box" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<hr>
	
	<p class="x4 callout callout-info" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<p class="x4 callout callout-info callout-box" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<hr>
	
	<p class="x4 callout callout-success" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<p class="x4 callout callout-success callout-box" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<hr>
	
	<p class="x4 callout callout-warning" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<p class="x4 callout callout-warning callout-box" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<hr>
	
	<p class="x4 callout callout-error" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu commun vocabules. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
	<p class="x4 callout callout-error callout-box" role="alert" aria-live="assertive">Li lingues differe solmen in li <code>grammatica</code>, li <code>pronunciation</code> e li plu <code>commun vocabules</code>. Li lingues differe solmen in li grammatica, li <a href="#">pronunciation</a> e li plu commun vocabules.</p>
	
</section>

<!-- @include includes/bottom.html -->
