<!-- @include includes/top.html -->

<article class="sub" itemscope itemtype="http://schema.org/Article">
	
	<div class="body" itemprop="articleBody">
		
		<header>
			
			<hgroup>
				<h3 class="label"><a href="http://localhost:4000/archive/#dec-2010"><time datetime="2010-12-24T00:55:45Z" pubdate itemprop="datePublished">Dec. 24, 2010</time></a></h3>
				<h1 itemprop="headline">San Francisco vacation</h1>
				<h2 class="sh2">Lots o’ geotagged pics & binaural audio</h2>
			</hgroup>
			
		</header>
		
		<figure>
			
			<div class="foo">
				
				<div class="bar">
					
					<div class="baz">
						
						<a href="https://www.google.com/maps/place/37%C2%B049'12%22%20N+122%C2%B024%2748%22+W" target="_blank" rel="nofollow">
							<img src="http://uploads.mky.io/san-francisco-vacation_02.jpg">
						</a>
						
					</div> <!-- /.baz -->
					
					<div class="qux">
						
						<figcaption><p>A view from the boat on the way to Alcatraz island.</p></figcaption>
						
					</div> <!-- /.qux -->
					
				</div> <!-- /.bar -->
				
			</div> <!-- /.foo -->
			
		</figure>
		
	</div> <!-- /.body -->
	
</article>

<!-- @include includes/bottom.html -->
