<!-- @include includes/top.html -->

<article class="sub" itemscope itemtype="http://schema.org/Article">
	
	<div class="body" itemprop="articleBody">
		
		<header>
			
			<hgroup>
				<h3 class="label"><time datetime="2010-12-24T00:55:45Z" pubdate itemprop="datePublished">Dec. 24, 2010</time></h3>
				<h1 class="h5" itemprop="headline">San Francisco vacation</h1>
				<h2 class="sh6">Lots o’ geotagged pics & binaural audio</h2>
			</hgroup>
			
		</header>
		
		<figure>
			
			<a href="https://www.google.com/maps/place/37%C2%B049'12%22%20N+122%C2%B024%2748%22+W" target="_blank" rel="nofollow">
				<img src="http://uploads.mky.io/san-francisco-vacation_02.jpg">
			</a>
			
			<figcaption><p>A view from the boat on the way to Alcatraz island.</p></figcaption>
			
		</figure>
		
		<figure>
			
			<a href="https://www.google.com/maps/place/37%C2%B049'37%22%20N+122%C2%B025%2714%22+W" target="_blank" rel="nofollow">
				<img src="http://uploads.mky.io/san-francisco-vacation_04.jpg">
			</a>
			
			<figcaption>
				<figure>
					<audio preload="none" controls>
						<source src="http://uploads.mky.io/alcatraz.ogg" type="audio/ogg">
						<source src="http://uploads.mky.io/alcatraz.mp3" type="audio/mpeg">
					</audio>
					<figcaption>
						<p>Binaural recording of Alcatraz Island.</p>
					</figcaption>
				</figure>
				<p>A view from the boat on the way to Alcatraz island.</p>
			</figcaption>
			
		</figure>
		
		<figure>
			
			<a href="https://www.google.com/maps/place/37%C2%B049'37%22%20N+122%C2%B025%2718%22+W" target="_blank" rel="nofollow">
				<img src="http://uploads.mky.io/san-francisco-vacation_05.jpg">
			</a>
			
			<figcaption><p>Alcatraz’s guard towers and catwalks were installed in 1934 – the Federal Penitentiary’s first year in operation. Heavily armed guards kept watch from this tower, plus five others, and a system of catwalks that loomed over the Rock. [Infrared HDRI]</p></figcaption>
			
		</figure>
		
		<figure>
			
			<a href="https://www.google.com/maps/place/37%C2%B049'38%22%20N+122%C2%B025%2721%22+W" target="_blank" rel="nofollow">
				<img src="http://uploads.mky.io/san-francisco-vacation_06.jpg">
			</a>
			
			<figcaption><p>Built in 1857, the guardhouse is the oldest building on the island. It was the first line of defense against landing parties which would have to enter the building and cross a drawbridge across a 15 foot moat. [Infrared HDRI]</p></figcaption>
			
		</figure>
		
	</div> <!-- /.body -->
	
</article>

<!-- @include includes/bottom.html -->
