#primary {
	
	> h3 {
		
		font-weight: bold;
		text-transform: uppercase;
		font-size: 18px;
		line-height: 18px;
		letter-spacing: normal;
		color: $graya;
		width: auto;
		max-width: none;
		margin: {
			top: 10px;
			bottom: 20px;
		}
		display: table;
		
		cursor: pointer;
		cursor: hand;
		
		&.ui-state-hover,
		&.ui-state-active { color: $raven; }
		
		&:active,
		&:focus { outline: 0; }
		
	}
	
}

#secondary {
	
	> h3 {
		
		font-size: 30px;
		line-height: 36px;
		font-weight: normal;
		letter-spacing: .05em;
		color: $milk;
		width: auto;
		max-width: none;
		margin: {
			top: 0;
			bottom: 30px; // 20px of top/bottom box-shadows + 10px margin.
		}
		padding: 0 10px; // Reclaim 10px left/right of box-shadow.
		display: table; // Forces width to that of children.
		cursor: pointer;
		cursor: hand;
		
		span {
			
			box-shadow: // Firefox not anti-aliasing a single box-shadow (rounding problems, I think); using multiple to make crisp.
				0 0 0 10px $raven,
				0 0 0 10px $raven,
				0 0 0 10px $raven,
				0 0 0 10px $raven;
			
			span {
				background: $raven;
				position: relative;
				box-shadow: none;
			}
			
		}
		
		&.ui-state-hover,
		&.ui-state-active {
			
			span {
				
				box-shadow: // IBID.
					0 0 0 10px $base,
					0 0 0 10px $base,
					0 0 0 10px $base,
					0 0 0 10px $base;
				
				span {
					background: $base;
					box-shadow: none;
				}
				
			}
			
		}
		
		// Removes annoying Webkit outline:
		&:active,
		&:focus { outline: 0; }
		
	}
	
}

.progress {
	width: 50px;
	height: 50px;
	background: url(../images/loader.gif) no-repeat;
	background-size: 50px 50px;
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -25px;
}

.ui-accordion-content {
	
	position: relative;
	min-height: 50px;
	margin-bottom: 30px; // Same as above h3.
	
	// Hides accordion panels:
	.js & { display: none; }
	
}

.ajax-content {
	display: none;
	padding-bottom: 30px; // Arbitrary.
}
