#primary {
	
	> h3 {
		
		font-family: "Comic Sans MS", "Comic Sans", cursive;
		font-weight: normal;
		font-size: 35px;
		letter-spacing: -.05em;
		color: $raven;
		width: auto;
		max-width: none;
		margin: {
			top: 20px;
			bottom: 20px;
		}
		display: table;
		
		cursor: pointer;
		cursor: hand;
		
		&.ui-state-hover,
		&.ui-state-active { color: $base; }
		
		&:active,
		&:focus { outline: 0; }
		
	}
	
	ul.links {
		
		margin {
			top: 0;
			bottom: 0;
		}
		padding: 0;
		
		li {
			
			font-size: 18px;
			list-style: none;
			
			&::before { content: ""; }
			
		}
		
	}
	
}

#secondary {
	
	//* { vertical-align: top }
	
	> h3 {
		
		font-size: 24px;
		line-height: 46px; // Double line height, minus 2px for fudge factor.
		font-weight: normal;
		letter-spacing: .05em;
		color: $milk;
		width: auto;
		max-width: none;
		margin: {
			top: 0;
			bottom: 12px; // Add back the fudge factor from above.
		}
		display: table; // Forces width to that of children.
		
		span {
			
			display: inline-block;
			cursor: pointer;
			cursor: hand;
			
			span {
				display: inline;
				background: $raven;
				box-shadow: 15px 0 0 $raven, -15px 0 0 $raven;
				padding: 10px 0 12px;
			}
			
		}
		
		&.ui-state-hover,
		&.ui-state-active {
			
			span span {
				background: $base;
				box-shadow: 15px 0 0 $base, -15px 0 0 $base;
			}
			
		}
		
		// Removes annoying Webkit outline:
		&:active,
		&:focus { outline: 0; }
		
	}
	
}

.progress {
	width: 50px;
	height: 50px;
	background: url(../images/loader.gif) no-repeat;
	background-size: 50px 50px;
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -25px;
}

.ui-accordion-content {
	
	position: relative;
	min-height: 60px; // Height of loader + 10px top.
	margin-bottom: 25px;
	
	// Hides accordion panels:
	.js & { display: none; }
	
}

.ajax-content {
	display: none;
	padding-bottom: 25px;
}
