[itemprop="articleBody"] {
	
	margin: 25px 0;
	
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: normal;
		text-transform: uppercase;
	}
	
	h5,
	h6 {
		letter-spacing: .1em;
		word-spacing: .2em;
	}
	
	h1 {
		font-size: 24px;
		line-height: 26px;
	}

	h2 {
		font-size: 22px;
		line-height: 24px;
	}

	h3 {
		font-size: 20px;
		line-height: 22px;
	}

	h4 {
		font-size: 18px;
		line-height: 20px;
	}

	h5 {
		font-size: 16px;
		line-height: 18px;
	}

	h6 {
		font-size: 14px;
		line-height: 16px;
	}
	
	hr,
	.hr {
		border-top: none;
		height: 4px;
		// http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/
		background-color: transparent;
		background-image:
			linear-gradient(
				90deg,
				$grayd 50%,
				transparent 50%,
				transparent
			);
		// Controls the size of the stripes:
		-webkit-background-size: 10px 10px;
		   -moz-background-size: 10px 10px;
				background-size: 10px 10px;
		background-position: center center;
	}
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}
