form { margin: 0; }

button { @extend %input; }
fieldset {
	margin: 10px 0;
	padding-top: 1px; // Prevents margin collapse.
}
input,
%input {
	line-height: normal;
	vertical-align: baseline;
}
input[type="checkbox"],
%input-checkbox {
	padding: 0;
	position: relative;
	bottom: 2px;
	vertical-align: middle;
}
input[type="password"] { @extend %input-text; }
input[type="radio"] { @extend %input-checkbox; }
input[type="text"],
%input-text {
	margin: 0;
	padding: 0 2px;
	vertical-align: baseline;
}
label { vertical-align: middle; }
legend {
	margin: 0;
	padding-bottom: 20px;
}
textarea {
	min-height: 100px;
	overflow: auto;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.form {
	
	fieldset {
		
		border: 0;
		margin: 0;
		padding: 0;
		
		legend:empty { display: none; }
		
	}
	
	label {
		color: $gray6;
		letter-spacing: .05em;
		padding: 5px;
	}
	
	%fields {
		
		padding: 5px;
		color: $gray3;
		letter-spacing: .05em;
		text-align: center;
		border: 1px solid $grayc;
		background: lighten($graye, 5%);
		width: 100%;
		display: block;
		// h-offset, v-offset, blur, spread, color
		box-shadow: inset 0 1px 3px $grayc;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		border-radius: 0;
		-webkit-transition: .3s linear border;
		        transition: .3s linear border;
		-webkit-background-clip: padding;
		   -moz-background-clip: padding;
				background-clip: padding-box;
		
		&::-webkit-input-placeholder {
			text-align: center;
			color: $gray9;
		}
		&:-moz-placeholder {
			text-align: center;
			color: $gray9;
		}
		&::-moz-placeholder {
			text-align: center;
			color: $gray9;
		}
		&:-ms-input-placeholder {
			text-align: center;
			color: $gray9;
		}
		
		&:focus,
		&:active { outline: 0; }
		
		&:focus { border-color: $lobster; }
		
		&[disabled] {
			cursor: not-allowed;
			background: $graye;
			color: $grayc;
		}
		
		&[readonly] {
			background: $graye;
			color: $gray7;
			border-color: $grayc;
		}
		
	}
	
	input {
		
		&[type="text"],
		&[type="password"] {
			@extend %fields;
			height: auto;
		}
		
	}
	
	textarea {
		@extend %fields;
		min-height: 100px;
		resize: vertical; // [ none | horizontal | vertical | both ]
	}
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { @extend .button; }
	
	input[type="checkbox"],
	input[type="radio"] { bottom: 1px; }
	
	select {
		font-size: 1px;
		width: 100%;
	}
	
}
