.form {
	
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin: 0;
	
	fieldset {
		
		border: 0;
		margin: {
			top: 25px;
			bottom: 25px;
		}
		padding: 1px 0 0; // Prevents margin collapse.
		
		legend {
			
			margin: 0;
			padding-bottom: 20px;
			
			&:empty { display: none; }
			
		}
		
	}
	
	label {
		color: $gray6;
		letter-spacing: .05em;
		vertical-align: middle;
		padding: 5px;
	}
	
	%fields {
		
		vertical-align: baseline;
		padding: 5px 10px;
		color: $gray3;
		letter-spacing: .05em;
		text-align: left;
		border: 1px solid $grayc;
		background: lighten($graye, 5%);
		width: 100%;
		display: block;
		// h-offset, v-offset, blur, spread, color
		box-shadow: inset 0 1px 3px $grayc;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		border-radius: 0;
		-webkit-transition: .3s linear border;
		        transition: .3s linear border;
		-webkit-background-clip: padding;
		   -moz-background-clip: padding;
				background-clip: padding-box;
		
		&::-webkit-input-placeholder {
			text-align: left;
			color: $gray9;
		}
		&:-moz-placeholder {
			text-align: left;
			color: $gray9;
		}
		&::-moz-placeholder {
			text-align: left;
			color: $gray9;
		}
		&:-ms-input-placeholder {
			text-align: left;
			color: $gray9;
		}
		
		&:focus,
		&:active { outline: 0; }
		
		&:focus { border-color: $primary; }
		
		&[disabled] {
			cursor: not-allowed;
			background: $graye;
			color: $grayc;
		}
		
		&[readonly] {
			background: $graye;
			color: $gray7;
			border-color: $grayc;
		}
		
	}
	
	input {
		
		&[type="text"],
		&[type="password"] { @extend %fields; }
		
	}
	
	textarea {
		@extend %fields;
		min-height: 200px;
		resize: vertical; // [ none | horizontal | vertical | both ]
		overflow: auto;
		margin: 0;
		padding: 5px 10px;
		vertical-align: top;
	}
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { @extend .button; }
	
	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
		vertical-align: middle;
		bottom: 2px;
		position: relative;
	}
	
	select {
		font-size: 16px;
		vertical-align: baseline;
		width: 100%;
	}
	
}
