iframe[id^='twitter-widget-'],
.twitter-timeline { width: 100%; }

.js #disqus { display: none; }

.callout {
	
	color: $gray3;
	letter-spacing: .03em;
	
	a {
		
		font-weight: bold;
		
		&,
		&:visited {
			color: $gray3;
			text-decoration: none;
		}
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $gray3;
			text-decoration: underline;
		}
		
	}
	
	&.callout-box {
		
		background-color: $grayd;
		padding: 20px;
		border-radius: 6px;
		//border: 1px solid rgba($raven, .3);
		//box-shadow: inset 0 0 10pxrgba($raven, .3);
		
		&.callout-info { background-color: $ice; }
		&.callout-success { background-color: $frog; }
		&.callout-warning { background-color: $duck; }
		&.callout-error { background-color: $chili; }
		
	}
	
	&.callout-info {
		
		color: darken($ice, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($ice, 60%); }
			
		}
		
	}
	
	&.callout-success {
		
		color: darken($frog, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($frog, 60%); }
			
		}
		
	}
	
	&.callout-warning {
		
		color: darken($duck, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($duck, 60%); }
			
		}
		
	}
	
	&.callout-error {
		
		color: darken($chili, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($chili, 60%); }
			
		}
		
	}
	
}
