nav[role="navigation"] {
	
	ul {
		line-height: 1.1;
		margin: 0;
		padding: 0;
	}
	
	li {
		
		letter-spacing: .1em;
		list-style: none;
		
		li,
		span { margin-bottom: 5px; }
		
		span {
			font-weight: bold;
			display: block;
		}
		
	}
	
	select {
		font-size: 16px;
		color: $gray3;
	}
	
	.harmonia {
		display: none;
		visibility: hidden;
	}
	
	@media all and (min-width: 768px) {
		
		& {
			
			margin-left: 20%;
			
			.harmonia-select {
				display: none;
				visibility: hidden;
			}
			
			.js & {
				
				.harmonia {
					display: block;
					visibility: visible;
				}
				
			}
			
		}
		
	}
	
	@media all and (min-width: 1024px) {
		
		& { margin-left: 50%; }
		
	}
	
}
