.ui-accordion-content {
	position: relative;
	min-height: 50px; // Height of loader + 10px top.
	margin-bottom: 20px;
}
.ajax-content,
.ui-accordion-content {
	//padding: 10px;
	display: none;
}
.progress {
	width: 50px;
	height: 50px;
	background: url(../images/loader.gif) no-repeat;
	background-size: 50px 50px;
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -25px;
}


#primary {
	
	ul {
		
		margin {
			top: 0;
			bottom: 0;
		}
		padding: 0;
		
		li { list-style: none; }
		
	}
	
	> h3 {
		
		font-family: $kaomoji;
		font-weight: normal;
		font-size: 35px;
		line-height: 35px;
		white-space: nowrap;
		margin: {
			top: 20px;
			bottom: 20px;
		}
		//overflow: hidden;
		
		&:active,
		&:focus { outline: 0; }
		
		> span {
			
			color: $raven;
			display: inline-block;
			cursor: pointer;
			cursor: hand;
			//cursor: url(../images/finger.png), auto;
			
			&:hover { color: $purty; }
			
			span {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			
		}
		
	}
	
}

[data-kaomoji] {
	
	&::before { content: attr(data-kaomoji); }
	&:hover::before { content: attr(data-kaomoji-hover); }
	
}

#secondary {
	
	//counter-reset: li;
	
	> h3 {
		
		a {
			display: inline-block;
			padding: 0 0 3px;
			border-bottom: 2px solid;
		}
		
		// &::before {
		// 	font-size: smaller;
		// 	line-height: 1;
		// 	margin: {
		// 		top: 10px;
		// 		bottom: 2px;
		// 	}
		// 	display: block;
		// 	content: counter(li, decimal);
		// 	counter-increment: li;
		// }
		
	}
	
}
