.ui-accordion-content {
	position: relative;
	min-height: 50px; // Height of loader + 10px top.
	margin-bottom: 20px;
}
.ajax-content,
.ui-accordion-content {
	//padding: 10px;
	display: none;
}
.progress {
	width: 50px;
	height: 50px;
	background: url(../images/loader.gif) no-repeat;
	background-size: 50px 50px;
	display: none;
	position: absolute;
	top: 10px;
	left: 50%;
	margin-left: -25px;
}


#primary {
	
	ul {
		
		margin {
			top: 0;
			bottom: 0;
		}
		padding: 0;
		
		li { list-style: none; }
		
	}
	
	> h3 {
		
		font-family: $kaomoji;
		font-weight: normal;
		font-size: 35px;
		line-height: 35px;
		white-space: nowrap;
		margin: {
			top: 20px;
			bottom: 20px;
		}
		//overflow: hidden;
		
		&:active,
		&:focus { outline: 0; }
		
		> span {
			
			color: $raven;
			display: inline-block;
			cursor: pointer;
			cursor: hand;
			//cursor: url(../images/finger.png), auto;
			
			&:hover { color: $purty; }
			
			span {
				border: 0;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}
			
		}
		
	}
	
}

[data-kaomoji] {
	
	&::before { content: attr(data-kaomoji); }
	.ui-accordion-header-active &::before, // This line, and the ones below, could be moved into jQuery .ui section.
	&:hover::before { content: attr(data-kaomoji-hover); }
	
}

#secondary {
	
	> h3 {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		a {
			
			display: inline-block;
			padding: 0 0 5px;
			border-bottom: 2px solid;
			
			&:active,
			&:focus { outline: 0; }
			
		}
		
	}
	
}

h3.ui-accordion-header-active {
	
	> {
		
		span,
		a { color: $purty !important; } // Need to make this better.
		
	}
	
}
