
// @see https://github.com/noraesae/perfect-scrollbar

.scroll {
	
	width: 100%;
	margin: 25px auto;
	position: relative;
	overflow: hidden;
	//-webkit-overflow-scrolling: touch;
	
	img:first-of-type {
		max-width: none;
		//display: block;
	}
	
	> *,
	img:first-of-type {
		margin-top: 0;
		margin-bottom: 0;
		//-webkit-transform: translateZ(0);
	}
	
	figure & {
		margin: {
			top: 0;
			bottom: 0;
		}
	}
	
}


.ps-container {
	
	.ps-scrollbar-x-rail {
		
		height: 6px;
		background-color: rgba($raven, .5);
		// opacity: .5;
		// filter: alpha(opacity=50);
		position: absolute;
		top: 0;
		
		// &:hover,
		// &.hover {
			
		// 	opacity: 1;
		// 	filter: alpha(opacity=100);
			
		// 	//.ps-scrollbar-x { background-color: $tertiary; }
			
		// }
		
		// &.in-scrolling {
		// 	opacity: 1;
		// 	filter: alpha(opacity=100);
		// }
		
	}
	
	.ps-scrollbar-x {
		background-color: rgba($tertiary, .9);
		height: 6px;
		position: absolute;
		bottom: 0;
		cursor: pointer;
		// -webkit-border-radius: 4px;
		//    -moz-border-radius: 4px;
		//         border-radius: 4px;
		// -webkit-transition: background-color .2s linear;
		//    -moz-transition: background-color .2s linear;
		//     -ms-transition: background-color .2s linear;
		//      -o-transition: background-color .2s linear;
		//         transition: background-color .2s linear;
	}
	
}
