
// Simple solution for responsive tables.
//
// @see http://www.maxdesign.com.au/2013/03/22/simple-responsive-table/
// @see http://creativeandcode.com/simple-solution-for-responsive-tables/
// @see http://stackoverflow.com/a/10122689/922323

.scroll {
	
	width: 100%;
	margin: {
		top: 25px;
		bottom: 25px;
	}
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	
	img:first-of-type {
		max-width: none;
		//display: block;
	}
	
	> *,
	img:first-of-type {
		margin-top: 0;
		margin-bottom: 0;
		-webkit-transform: translateZ(0);
	}
	
	figure & { margin: 0; }
	
}

// For the scroll left/right icon added via JS:
.scroll-wrap { position: relative; }
.scroll-overlay {
	
	font-family: arial, sans-serif;
	font-size: 11px;
	line-height: 11px;
	letter-spacing: .15em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 1px $raven;
	color: $milk;
	border-radius: 3px;
	background: rgba($raven, .75);
	padding: 5px 8px;
	position: absolute;
	top: 10px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	   -moz-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	     -o-transform: translateX(-50%);
	        transform: translateX(-50%);
	z-index: 100;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
	opacity: .5;
	cursor: default;
	
	&::before { content: "←"; }
	&::after { content: "→"; }
	
	&::before,
	&::after { font-size: 110%; }
	
}
