// For background, you don't have to specify all values.
// If a value is omitted, its initial value is used.
// The initial values for the individual background properties are as follows:
//     * color: transparent
//     * image: none
//     * repeat: repeat
//     * attachment: scroll
//     * position: 0% 0%
// Remember that when you give two values for position, they have to appear together.
// When using length or percentage values, put the horizontal value first.
// 
// Ref: http://www.456bereastreet.com/archive/200502/efficient_css_with_shorthand_properties/

@-webkit-keyframes skull {
	0% { background-position: center 0; }
	100% { background-position: center -24480px; }
}
@-moz-keyframes skull {
	0% { background-position: center 0; }
	100% { background-position: center -24480px; }
}
@-ms-keyframes skull {
	0% { background-position: center 0; }
	100% { background-position: center -24480px; }
}
@-o-keyframes skull {
	0% { background-position: center 0; }
	100% { background-position: center -24480px; }
}
@keyframes skull {
	0% { background-position: center 0; }
	100% { background-position: center -24480px; }
}

@-webkit-keyframes slide-up {
	0% { -webkit-transform: translateY(100%); }
	100% { -webkit-transform: translateY(0); }
}
@-moz-keyframes slide-up {
	0% { -moz-transform: translateY(100%); }
	100% { -moz-transform: translateY(0); }
}
@-ms-keyframes slide-up {
	0% { -moz-transform: translateY(100%); }
	100% { -moz-transform: translateY(0); }
}
@-o-keyframes slide-up {
	0% { -o-transform: translateY(100%); }
	100% { -o-transform: translateY(0); }
}
@keyframes slide-up {
	0% { transform: translateY(100%); }
	100% { transform: translateY(0); }
}

// I think iOS doesn't like the large BG image. 
// Possible fix:
// http://stackoverflow.com/a/12647559/922323
// For now, as a fix, hiding on retina display.
@media 
	(-webkit-max-device-pixel-ratio: 1),
	(max-resolution: 1dppx)
{ // https://gist.github.com/levibuzolic/947778
	
	// http://mystrd.at/modern-clean-css-sticky-footer/
	body { margin-bottom: 500px; } // Height of skull.
	
	.js.no-touch .skull {
		
		height: 500px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		
		> div {
			
			-webkit-transform: translateY(100%);
			   -moz-transform: translateY(100%);
			    -ms-transform: translateY(100%);
			     -o-transform: translateY(100%);
			        transform: translateY(100%);
			
			-webkit-animation-duration: 5s;
			   -moz-animation-duration: 5s;
			    -ms-animation-duration: 5s;
			     -o-animation-duration: 5s;
			        animation-duration: 5s;
			-webkit-animation-fill-mode: both;
			   -moz-animation-fill-mode: both;
			    -ms-animation-fill-mode: both;
			     -o-animation-fill-mode: both;
			        animation-fill-mode: both;
			-webkit-animation-name: slide-up;
			   -moz-animation-name: slide-up;
			    -ms-animation-name: slide-up;
			     -o-animation-name: slide-up;
			        animation-name: slide-up;
			
			&::after {
				content: "";
				background: {
					image: url(http://uploads.mky.io/skull.jpg);
					repeat: no-repeat;
					position: center 0; // Wish I could make this retina display quality. :(
					origin: content-box;
					attachment: local;
					size: 350px 24480px; // http://www.defusion.org.uk/archives/2010/02/19/shrinking-large-background-image-bug-in-iphone-safari/
				}
				width: 350px; // Same width as scaled background.
				height: 500px;
				margin: 0 auto;
				display: block;
				-webkit-animation-duration: 2s;
				   -moz-animation-duration: 2s;
				    -ms-animation-duration: 2s;
				     -o-animation-duration: 2s;
						animation-duration: 2s;
				-webkit-animation-name: skull;
				   -moz-animation-name: skull;
				    -ms-animation-name: skull;
				     -o-animation-name: skull;
				        animation-name: skull;
				-webkit-animation-iteration-count: infinite;
				   -moz-animation-iteration-count: infinite;
				    -ms-animation-iteration-count: infinite;
				     -o-animation-iteration-count: infinite;
						animation-iteration-count: infinite;
				-webkit-animation-timing-function: steps(48);
				   -moz-animation-timing-function: steps(48);
				    -ms-animation-timing-function: steps(48);
				     -o-animation-timing-function: steps(48);
						animation-timing-function: steps(48);
			}
			
		}
		
	}
	
}
