.no-touch .tooltip {
	
	// http://osvaldas.info/elegant-css-and-jquery-tooltip-responsive-mobile-friendly
	
	font-family: $mono;
	font-size: 16px;
	letter-spacing: .08em;
	text-align: center;
	color: $milk;
	background: rgba($purty, .95);
	position: absolute;
	z-index: 100;
	padding: 15px;
	pointer-events: none;
	
	&::after {
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid rgba($purty, .95);
		content: '';
		position: absolute;
		left: 50%;
		bottom: -10px;
		margin-left: -10px;
	}
	
	&.top::after {
		border-top-color: transparent;
		border-bottom: 10px solid rgba($purty, .95);
		top: -20px;
		bottom: auto;
	}
	
	&.left::after {
		left: 10px;
		margin: 0;
	}
	
	&.right::after {
		right: 10px;
		left: auto;
		margin: 0;
	}
	
}
