h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	letter-spacing: .05em;
	text-transform: uppercase;
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0 0 25px;
	padding: 0;
}

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	letter-spacing: .08em;
	text-transform: none;
	font-weight: normal;
}

h1, .h1, .sh1 {
	font-size: 28px;
	line-height: 30px;
}

h2, .h2, .sh2 {
	font-size: 26px;
	line-height: 28px;
}

h3, .h3, .sh3 {
	font-size: 24px;
	line-height: 26px;
}

h4, .h4, .sh4 {
	font-size: 22px;
	line-height: 24px;
}

h5, .h5, .sh5 {
	font-size: 20px;
	line-height: 22px;
}

h6, .h6, .sh6 {
	font-size: 18px;
	line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
	
	+ {
		
		h1, h2, h3, h4, h5, h6 { margin-top: -23px !important; }
		
	}
	
}

h1:empty { display: none; }

p {
	
	letter-spacing: .05em;
	margin: 25px 0;
	
	header + & { margin-top: -15px !important; }
	
	[itemprop="articleBody"] & {
		
		font-size: 16px;
		line-height: 24px;
		margin: 18px 0;
		
	}
	
}

blockquote {
	
	font: italic 20px/34px $serif;
	letter-spacing: .03em;
	text-align: center;
	color: $bruise;
	margin: 25px 15%;
	padding: 20px 40px;
	
	p {
		font: inherit;
		line-height: inherit;
		margin: 0;
	}
	
	a {
		
		-webkit-transition: border 100ms linear;
		        transition: border 100ms linear;
		
		&,
		&:visited {
			color: $bruise;
			border-bottom: 2px solid;
		}
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $tongue;
			border-width: 4px;
		}
		
	}
	
	footer {
		
		text-transform: uppercase;
		font: normal 12px/16px $sans;
		letter-spacing: .1em;
		margin-top: 10px;
		
	}
	
	:first-child { margin-top: 0; }
	:last-child { margin-bottom: 0; }
	
}

mark {
	background: rgba($duck, .9);
	padding: 1px 3px;
	border-radius: 3px;
}

del,
ins {
	line-height: 0;
	letter-spacing: .05em;
	padding: 1px 3px;
	position: relative;
	border-radius: 2px;
}
del {
	color: darken($chili, 50%);
	background: rgba($chili, .5);
}
ins {
	
	color: darken($frog, 50%);
	text-decoration: none;
	background: rgba($frog, .5);
	
	&::before { content: "["; }
	&::after { content: "]"; }
	
}

q {
	font-family: $serif;
	font-weight: bolder;
	font-style: italic;
}

abbr {
	
	font-style: italic;
	cursor: help;
	
	&[title] { border-bottom: 1px dotted; }
	
	&[title="et cetera"] { font-family: $etc; }
	
}

cite { font-style: italic; }

dfn {
	
	font-weight: bold;
	font-style: italic;
	
	&[title] {
		border-bottom: 1px dotted;
		cursor: help;
	}
	
}

wbr {
	
	&::after { content: "\00200B"; }
	
}

small,
.small { font-size: 80%; }

span {
	
	// The italic version of an ampersand is more decorative and interesting
	// than its roman counterpart.
	//
	// @see http://simplebits.com/notebook/2008/08/14/ampersands-2/
	// @see http://fluidbaselinegrid.com/css/style.css
	
	&.amp {
		font-size: 110%;
		font-family: $amp;
		font-weight: normal;
		font-style: italic;
		line-height: 0;
		vertical-align: baseline;
		position: relative;
	}
	
}

sub,
%sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub { bottom: 4px; }
sup {
	@extend %sub;
	top: -8px;
}

img { vertical-align: top; }
