h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0;
	padding: 0;
}

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 {
	text-transform: uppercase;
	font-weight: normal;
}

h1, .h1 {
	font-size: 28px;
	line-height: 30px;
}

h2, .h2 {
	font-size: 26px;
	line-height: 28px;
}

h3, .h3 {
	font-size: 24px;
	line-height: 26px;
}

h4, .h4 {
	font-size: 22px;
	line-height: 24px;
}

h5, .h5 {
	font-size: 20px;
	line-height: 22px;
}

h6, .h6 {
	font-size: 18px;
	line-height: 20px;
}

.sh1 { font-size: 22px; }
.sh2 { font-size: 20px; }
.sh3 { font-size: 18px; }
.sh4 { font-size: 16px; }
.sh5 { font-size: 14px; }
.sh6 { font-size: 12px; }

h1:empty { display: none; }
