<!doctype html>
<html class="no-js no-touch" lang="en" dir="ltr">

<!-- Copyright © 2013-14 Micky Hulse. All rights reserved. -->

<head>
	
	<script>/*! rgne.ws/WnP50T */;(function(a){a.className=a.className.replace(/\bno-js\b/,'js')}(document.documentElement));</script>
	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	
	<meta name="copyright" content="Copyright © 2013-14 Micky Hulse. All rights reserved.">
	
	<title><!--@echo title--> | v<!--@echo version--> | <!--@echo NODE_ENV--></title>
	<meta name="description" content="<!--@echo description-->">
	
	<link rel="stylesheet" href="//fonts.mky.io/hulse/hulse.css">
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<link rel="stylesheet" href="./styles/<!-- @echo name -->.css">
	<link rel="stylesheet" href="./styles/development.css">
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<link rel="stylesheet" href="<!-- @echo production -->/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/styles/<!-- @echo name -->.min.css">
	
	<!-- @endif -->
	
</head>
<body>
	
	<h1 id="flag"><a href="http://mky.io"><span>mky.io</span></a></h1>
